on early-init
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor walt
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor walt
   write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor walt

on fs
	insmod /vendor/lib/modules/msm_drm.ko
	insmod /vendor/lib/modules/mmi_annotate.ko
	insmod /vendor/lib/modules/mmi_info.ko
	insmod /vendor/lib/modules/mmi_relay.ko
	insmod /vendor/lib/modules/sensors_class.ko
	insmod /vendor/lib/modules/touchscreen_mmi.ko
	insmod /vendor/lib/modules/fpc1020_mmi.ko
	insmod /vendor/lib/modules/goodix_brl_mmi.ko
	insmod /vendor/lib/modules/focaltech_v3.ko
	insmod /vendor/lib/modules/sx937x_multi.ko
	insmod /vendor/lib/modules/qti_glink_charger.ko
	insmod /vendor/lib/modules/qpnp_adaptive_charge.ko
        #zram wb
	mount_all /vendor/etc/fstab.qcom.zram --early

# Enable debugfs on factory build
on fs && property:ro.vendor.build.motfactory=1
    setprop persist.dbg.keep_debugfs_mounted true

on early-boot
    # factory i2c
    chmod 0660 /dev/i2c-0
    chmod 0660 /dev/i2c-1
    chmod 0660 /dev/i2c-2
    chmod 0660 /dev/i2c-3
    chmod 0660 /dev/i2c-4
    chown system system /dev/i2c-0
    chown system system /dev/i2c-1
    chown system system /dev/i2c-2
    chown system system /dev/i2c-3
    chown system system /dev/i2c-4

    # Add for after-sales ois gyro cal
    mkdir /mnt/vendor/persist/camera/gyro_compat 0770 vendor_tcmd camera

    # change permission of backlight brightness for tcmd daemon
    chmod 664 /sys/class/backlight/panel1-backlight/brightness

    # for ufs HID
    chown system system /sys/devices/platform/soc/1d84000.ufshc/ufshid/trigger

# Create directory for wireless charge test in factory
    mkdir /data/vendor/wlc 0775 vendor_tcmd system

# add permission als_comp_multi_cal_raw
    chown system system /mnt/vendor/persist/sensors/als_comp_multi_cal_raw
    chmod 0664 /mnt/vendor/persist/sensors/als_comp_multi_cal_raw

on post-fs-data
    # Param updater data for various modules
    mkdir /data/vendor/param 0775 system system

on property:vold.post_fs_data_done=1 && property:ro.vendor.build.motfactory=1
    mkdir /data/vendor/ipc_uart_log
    start vendor.copy_uart

on property:property:ro.vendor.product.name=gsi_arm64
    write /sys/class/drm/card0-DSI-1/is_gsi_mode 1

on boot
    # allow TCMD to access cci for OIS test
    chmod 0660 /dev/cci_intf
    chown system camera /dev/cci_intf

    # service to record vibrator self calibration result
    #start vendor.vibrator_cal_record

    start vendor.touchRec
    # touch screen calibration file
    mkdir /mnt/vendor/persist/touch
    chown vendor_tcmd system /mnt/vendor/persist/touch
    chmod 0775 /mnt/vendor/persist/touch

    # Touch game mode control
    chown system system /sys/class/touchscreen/primary/rotate
    chmod 0660 /sys/class/touchscreen/primary/rotate
    chown system system /sys/class/touchscreen/primary/interpolation
    chmod 0660 /sys/class/touchscreen/primary/interpolation
    chown system system /sys/class/touchscreen/primary/edge
    chmod 0660 /sys/class/touchscreen/primary/edge
    chown system system /sys/class/touchscreen/primary/sensitivity
    chmod 0660 /sys/class/touchscreen/primary/sensitivity
    chown system system /sys/class/touchscreen/primary/gesture
    chmod 0660 /sys/class/touchscreen/primary/gesture
    chown system system /sys/class/touchscreen/secondary/gesture
    chmod 0660 /sys/class/touchscreen/secondary/gesture
    chown system system /sys/class/touchscreen/primary/sample
    chmod 0660 /sys/class/touchscreen/primary/sample
    chown system system /sys/class/touchscreen/secondary/pocket_mode
    chmod 0660 /sys/class/touchscreen/secondary/pocket_mode
   # Set adaptive charging perms for HAL
    chown system system /sys/module/qpnp_adaptive_charge/parameters/upper_limit
    chown system system /sys/module/qpnp_adaptive_charge/parameters/lower_limit

    #change vibrator test node file access permission
    chmod 0660 /sys/class/qcom-haptics/enable_play
    chown vendor_tcmd system /sys/class/qcom-haptics/enable_play
    write /sys/class/qcom-battery/wireless_fw_update_time_ms 5000
    write /sys/class/qcom-battery/wireless_fw_update 1

    # copy gps license file to /mnt/vendor/persist/data/pfm/licenses
    copy /vendor/etc/motorola/qcom_gps_license.pfm /mnt/vendor/persist/data/pfm/licenses/qcom_gps_license.pfm
    chmod 0644 /mnt/vendor/persist/data/pfm/licenses/qcom_gps_license.pfm

on boot
   # vibrator hal need to access this sysfs node for AF noise issue
   chown system system /sys/devices/platform/soc/soc:mot,cam-actuator/onekey_actuator
   chmod 0660 /sys/devices/platform/soc/soc:mot,cam-actuator/onekey_actuator

service vendor.copy_uart /vendor/bin/init.copy_uart.sh
    class main
    user root
    group root system
    oneshot
    disabled

service capsense_reset /system/vendor/bin/capsense_reset
   class core
   user system
   group system input
   disabled

service vendor.ultrasound_cal /vendor/bin/ultrasound_cal.sh -c
    class main
    user root
    group root system
    oneshot
    disabled

service vendor.ultrasound_playback /vendor/bin/ultrasound_cal.sh -p
    class main
    user root
    group root system
    oneshot
    disabled

#service vendor.vibrator_cal_record /vendor/bin/vibrator_cal_record.sh
#    class late_start
#    user system
#    group system radio shell
#    oneshot
#    disabled

on property:vendor.ultrasound.cal.action=start
    start vendor.ultrasound_cal

on property:vendor.ultrasound.playback_enable=1
    start vendor.ultrasound_playback

on property:vendor.ultrasound.playback_enable=0
    stop vendor.ultrasound_playback

service mot_flip_count /vendor/bin/mot_flip_count
   class core
   user system
   group system input
   disabled

service vendor.motpsd /vendor/bin/motpsd
    class late_start
    user root

service vendor.mmi-cap-sh /vendor/bin/init.mmi.cap.sh
    class core
    user root
    oneshot

on property:sys.boot_completed=1
    start capsense_reset
    start mot_flip_count
    #change adsp pmic test command file access permission
    wait /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/force_wls_en
    chown vendor_tcmd system /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/tcmd
    chown vendor_tcmd system /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/force_pmic_icl
    chown vendor_tcmd system /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/force_usb_suspend
    chown vendor_tcmd system /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/force_wls_en
    chown vendor_tcmd system /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/force_wls_curr_max
    chown vendor_tcmd system /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/force_wls_volt_max
    chown vendor_tcmd system /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/addr
    chown vendor_tcmd system /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/data
    chmod 0660 /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/tcmd
    chmod 0660 /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/force_pmic_icl
    chmod 0660 /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/force_usb_suspend
    chmod 0660 /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/force_wls_en
    chmod 0660 /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/force_wls_curr_max
    chmod 0660 /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/force_wls_volt_max
    chmod 0660 /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/addr
    chmod 0660 /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/data

    # Set wlc perms for HAL
    chown system system /sys/class/power_supply/wireless/device/wlc_light_ctl
    chown system system /sys/class/power_supply/wireless/device/wlc_fan_speed
    chown system system /sys/class/power_supply/wireless/device/wlc_st_changed
    chown system system /sys/class/power_supply/wireless/device/wlc_tx_power
    chown system system /sys/class/power_supply/wireless/device/wlc_tx_type
    chmod 0660 /sys/class/power_supply/wireless/device/wlc_light_ctl
    chmod 0660 /sys/class/power_supply/wireless/device/wlc_fan_speed

    #change flip battery charging test command file access permission
    chown vendor_tcmd system /sys/class/power_supply/charger/device/chg_en
    chown vendor_tcmd system /sys/class/power_supply/charger/device/charger_suspend
    chown vendor_tcmd system /sys/class/power_supply/charger/device/high_load_en
    chown vendor_tcmd system /sys/class/power_supply/charger/device/low_load_en
    chown vendor_tcmd system /sys/class/power_supply/charger/input_current_limit
    chown vendor_tcmd system /sys/class/power_supply/charger/constant_charge_current
    # Change force_charging_enable access mode and permission for tcmd
    wait /sys/class/power_supply/battery/device/force_charging_enable
    chmod 0664 /sys/class/power_supply/battery/device/force_charging_enable
    chown vendor_tcmd system /sys/class/power_supply/battery/device/force_charging_enable

#change for Rogue because the node changed
on property:vendor.wifi.tethering=false
    write /sys/module/qca6490/parameters/sar_mhs disabled

on property:vendor.wifi.tethering=true
    write /sys/module/qca6490/parameters/sar_mhs enabled

on property:vendor.wifi.station=true
    write /sys/module/qca6490/parameters/sar_sta enabled

on property:vendor.wifi.station=false
    write /sys/module/qca6490/parameters/sar_sta disabled

on property:dev.bootcomplete=1
    stop llkd-${ro.debuggable:-0}

on property:vendor.post_boot.parsed=1
    write /sys/devices/system/cpu/cpu4/core_ctl/enable 0
    write /sys/devices/system/cpu/cpu7/core_ctl/enable 0
on property:ro.bootmode=mot-factory
    write /sys/class/leds/charging/brightness 100
    chown vendor_tcmd system /sys/module/mmi_charger/parameters/factory_kill_disable
    chmod 0660 /sys/module/mmi_charger/parameters/factory_kill_disable

on property:ro.product.is_prc=true
    setprop persist.vendor.audio.cal_path.extend retcn

on init && property:ro.boot.cid=0x0000
    write /sys/module/sgm4154x_charger_lite/parameters/paired_vbat_panic_enabled 1

on init && property:ro.boot.chg_panic_enabled=false
    write /sys/module/sgm4154x_charger_lite/parameters/paired_vbat_panic_enabled 0

on init && property:ro.boot.chg_panic_enabled=true
    write /sys/module/sgm4154x_charger_lite/parameters/paired_vbat_panic_enabled 1

on property:vendor.usb.headset_reset=2
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode none

on property:vendor.usb.headset_reset=0
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/headset_reset_delay 2
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode host

on early-boot
    write /sys/kernel/cnss/recovery 1

service nqnfcinfo /vendor/bin/nqnfcinfo
    class late_start
    group nfc
    user system
    oneshot

on property:vendor.qti.nfc.chipid=0xca
    setprop persist.vendor.nfc.config_file_name libnfc-PN560.conf
    start vendor.nfc_hal_service

on property:vendor.qti.nfc.chipid=0xc1
    setprop persist.vendor.nfc.config_file_name libnfc-SN220-UICC.conf
    start vendor.nfc_hal_service

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    class early_hal
    user nfc
    group nfc drmrpc system
    disabled
